@*@{
        Layout = null;
    }*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript">
        function login() {
            debugger
            var username = $('#username').val();
            var password = $('#password').val();

            $.ajax({
                url: "http://localhost:51470/Customer1/CheckLogin",
                type: "GET",
                content: "application/json; charset=utf-8",
                dataType: "json",
                //data: { model:JSON.stringify(data)},
                data: { username: username, password: password },
                success: function (d) {
                    alert(d);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });
        }


    </script>
</head>
<body>
    <form class="form">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <input type="button" id="loginBtn" value="login" onclick="login()" />
        @Html.ActionLink("Doesn't have an account", "ViewRegister")
    </form>
</body>
</html>
